
<!-- <div><p>Hello <span style="color:blue">World</span></p></div> -->

<!-- <iframe 
style=" width: 300px; height: 100px; border: 1px green solid;"
sandbox="allow-scripts allow-pointer-lock allow-modals">
</iframe> -->

<!-- <div><p>Hello <span style="color:green">World</span></p></div> -->

<iframe 
style="
width: __$data.widthIframe$__px;
height: __$data.heightIframe$__px;
border: 0px gray solid;
"
sandbox="allow-scripts allow-pointer-lock allow-modals" 
scrolling="no"
marginheight="0"
marginwidth="0" 
srcdoc="{-% include 'main.tpl.html' %-}">
</iframe>

<!-- <div><p>Hello <span style="color:red">World</span></p></div> -->